form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

input, select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: var(--radius);
  background-color: #2a2a2a;
  color: var(--text-light);
}

input::placeholder {
  color: #aaa;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--text-dark);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: #b4e100;
  }
  margin: 5px;
}
